<!DOCTYPE html>

<html lang="en">
<head>
	<!-- Google Analytics -->
	<script>
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-XXXXX-Y', 'auto');
	ga('send', 'pageview');
	</script>
	<script async src='https://www.google-analytics.com/analytics.js'></script>
	<!-- End Google Analytics -->

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
	{{ title }}
</title>
<meta name="Description" content = "{{ description }}" />
<meta name="keywords" content = "{{ keywords }}" />
<meta name="sitecode" content = "{{ sitecode }}" />
<meta property="og:title" content = "{{ title }}" />
<meta property="og:description" content = "{{ og_description }}" />
<meta property="og:url" content = "https://www.yourdomain.com/" />
<meta property="og:locale" content = "{{ locale }}" />
<meta property="og:image" content = "{{ site_logo_url }}" />
<meta property="og:type" content = "website" />
<meta property="og:site_name" content = "My Website" />

<script src="/js/modernizr-2.8.3.min.js"></script>

<app-site-head-tags></app-site-head-tags>

<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" width="24" height="24" viewBox="0 0 24 24" />

</head>

<body>

	<div class="site-loader-svg"></div>

    <app-site-header></app-site-header>

    <app-root></app-root>

    <app-site-footer></app-site-footer>

    <app-site-footer-tags></app-site-footer-tags>

    <ldjson-website-script></ldjson-website-script>
    <ldjson-webpage-script></ldjson-webpage-script>

    <app-script></app-script>

</body>

</html>